<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Contacts</h3>
		<nav>
			<ul class="nav masthead-nav">
				<li><a href="" ui-sref="contact-form({ id: '+' })">Add</a></li>
				<li><a href="" ui-sref="contact-list">List</a></li>
			</ul>
		</nav>
	</div>
</div>
